div{
    display: inline-block;
    width: 75px;
    height: 75px;
    zoom: 1;
    border: 1px solid red;
    border-radius: 10%;
    text-align: center;
    text-align: middle;
    font-size: 24px;
}