html, body {
    width: 960px;
    font-family: 'Courier New', Courier, 'Nimbus Mono L', monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.content {
    display: none;
    position: absolute;
    padding: 10px 30px;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background: #fdffff;
background: -moz-linear-gradient(top,  #fdffff 0%, #a0d8ef 100%);
background: -webkit-linear-gradient(top,  #fdffff 0%,#a0d8ef 100%);
background: linear-gradient(to bottom,  #fdffff 0%,#a0d8ef 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#a0d8ef',GradientType=0 );

}
.content ul {
    margin: 0;
    padding: 0;
    list-style-type: square;
}
.content ul a {
    text-decoration: none;
    
}
h3 {
    text-decoration: underline;
}
.bold {
    font-weight: bold;
}
.menu {
    padding:2px 6px;
    list-style-type: none;
    position: relative;
}
.menu > li {
    float: left;
    margin-right: 10px;
}
.menu > li > a {
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    background: #25dcf2;
background: -moz-linear-gradient(top,  #25dcf2 0%, #7994e2 100%);
background: -webkit-linear-gradient(top,  #25dcf2 0%,#7994e2 100%);
background: linear-gradient(to bottom,  #25dcf2 0%,#7994e2 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25dcf2', endColorstr='#7994e2',GradientType=0 );

}
.menu li a:hover {
    padding: 10px 45px;
    font-size: 1.5em;    
}
.menu li a:hover+.content {
    display: block;
}